[include]
    path = ~/.voziv/git/gitconfig.private
[core]
    excludesfile = ~/.voziv/git/gitignore_global
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[alias]
    ap = add --patch
    br = branch
    ci = commit -am
    co = checkout
    fap = fetch --all --prune
    fp = fetch --prune
    gone = "!git fetch -p && for branch in $(git branch -vv | grep ': gone]' | grep -v $(git branch --show-current) | awk '{print $1}'); do git branch -D $branch; done"
    l = log --date=short --pretty=format:'\
%C(bold blue)%cd %Creset\
%C(red)%h%Creset\
%C(auto)%d %Creset\
%C(normal)%s %Creset\
%C(bold blue)(%Creset\
%C(yellow)%an %Creset\
%C(bold blue)%cr)%Creset\
' --color --graph --decorate
    last = log -1 HEAD
    poo = push
    poosh = push
    pushy = push
    st = status -bs
    stag = tag --sort=v:refname
    undo = reset --soft HEAD~1
    unstage = reset HEAD --
[push]
    default = simple
[merge]
    tool = kdiff3
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[mergetool]
    prompt = false
[rebase]
    autoStash = true
[pull]
#    ff = only
    rebase = true
[diff "sopsdiffer"]
    textconv = sops -d
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
[fetch]
    prune = true
[init]
    defaultBranch = main
[gitbutler]
    utmostDiscretion = 1
    signCommits = true
